body {
  background-color: rgb(150, 150, 150);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 321px;
  height: 694px;
  background-color: aqua;
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  background-color: beige;
}

#avatar {
  width: 50%;
  height: 100%;
  background-color: rgb(122, 122, 65);
}

#top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: rgb(122, 65, 114);
}

#tips {
  width: 100%;
  height: 70%;
  background-color: rgb(65, 92, 122);
}

#meter {
  width: 100%;
  height: 30%;
  background-color: rgb(64, 50, 78);
}

#middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  background-color: rgb(237, 244, 241);
}

#item-card {
  width: 70%;
  height: 70%;
  background-color: rgb(58, 47, 61);
}

#bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  background-color: cadetblue;
}

#paper {
  width: 33%;
  height: 100%;
  background-color: darkseagreen;
}

#clothing {
  width: 34%;
  height: 100%;
  background-color: rgb(168, 143, 188);
}

#books {
  width: 33%;
  height: 100%;
  background-color: rgb(143, 170, 188);
}
