body {
  background-color: rgb(150, 150, 150);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 321px;
  height: 694px;
  background-color: aqua;
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  background-color: beige;
}

#avatar {
  position: fixed;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #d7eae4;
  border-style: solid;
  border-radius: 50%;
  border-width: 4px;
  border-color: #3f2d3f;
  background-image: url(./assets/images/pc-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scaleX(-1);
}

#utility {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 75%;
  left: 75%;
  background-image: url(./assets/icon/utility-more.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: rgb(122, 65, 114);
}

#tips {
  width: 100%;
  height: 70%;
  background-color: rgb(65, 92, 122);
}

#meter {
  width: 200px;
  height: 20px;
  background-color: #00aaa0;
  border-style: solid;
  border-radius: 20px;
  border-width: 4px;
  border-color: #79cec8;
}

#middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  background-color: rgb(237, 244, 241);
}

#item-card {
  width: 70%;
  height: 70%;
  background-color: rgb(58, 47, 61);
}

#bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  background-color: cadetblue;
}

#paper {
  width: 33%;
  height: 100%;
  background-color: darkseagreen;
}

#clothing {
  width: 34%;
  height: 100%;
  background-color: rgb(168, 143, 188);
}

#books {
  width: 33%;
  height: 100%;
  background-color: rgb(143, 170, 188);
}
